// inside app/frontend/packs/application.scss  
// Just a quick ugly style to see if our CSS works  
@media only screen and (max-width: 600px) {
    img {
        display: none;
    }
    #img {
        display: none;
    }
}

.hovercard {
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 50%;
    top: -90px;
    transform: translateX(-50%);
}

.recent-link:hover .hovercard {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.1s;
}


/* Tooltip text */

.tooltiptext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    background-color: white;
    padding: 18px;
    border-radius: 5px;
    color: black;
    line-height: 15px;
    transition: 1s;
    width: 300px;
}

img {
    width: 100%;
    height: 15vw;
    padding: 50px;
    object-fit: contain;
    border: 1px black;
}

.card {
    margin-bottom: 20px;
}

section {
    margin-bottom: 32px;
}

#collapseExample {
    max-height: 40vh;
    overflow-y: scroll;
    text-align: left;
}

// Import Bootstrap v5  
@import "~bootstrap/scss/bootstrap";